mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.title{
  font-size: 25px;
}

.spacer {
  flex: 1;
}

/* Style */
button {
  margin-left: 12px;
  font-weight: 500;
}

/* Username */
span {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-right: 12px;
}


/* Icon */
mat-icon {
  margin-right: 8px;
  vertical-align: middle;
  transition: transform 0.3s ease;
}

