<div class="reset-password-container">
  <h2>Reset Password</h2>
  <form [formGroup]="resetForm" (ngSubmit)="onReset()" class="reset-password-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" placeholder="Enter your email" />
      @if (resetForm.get('email')?.hasError('required') && resetForm.get('email')?.touched) {
        <mat-error>Email is required.</mat-error>
      }
      @if (resetForm.get('email')?.hasError('email') && resetForm.get('email')?.touched) {
        <mat-error>Invalid email format.</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>New Password</mat-label>
      <input matInput formControlName="Password" type="password" placeholder="Enter new password" />
      @if (resetForm.get('Password')?.hasError('required') && resetForm.get('Password')?.touched) {
        <mat-error>New password is required.</mat-error>
      }
      @if (resetForm.get('Password')?.hasError('minlength') && resetForm.get('Password')?.touched) {
        <mat-error>Password must be at least 6 characters long.</mat-error>
      }
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="full-width" [disabled]="resetForm.invalid">
      Reset Password
    </button>
    @if (errorMessage) {
      <div class="error">
        {{ errorMessage }}
      </div>
    }
  </form>
</div>
